#### `.gitignore`
# xcode noise
src/build/*
src/docs/*
src/docs
*.mode1v3
*.perspectivev3
build/*

# SVN directories
.svn

# osx noise
.DS_Store
*.pbxuser
profile

#Flex Builder noise
.actionScriptProperties
.flexProperties
.project
.settings
bin/*
.flexLibProperties
html-template

